.homeBanner{

    height: 100vh;
    background-color: #ff00ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(9,9,121);
    background: linear-gradient(240deg, rgba(9,9,121,0.8631827731092436) 30%, rgba(242,244,0,0.8323704481792717) 50%, rgba(9,9,121,0.773546918767507) 95%);
    animation: entrance 1.5s ease-in-out;

    h1, h5{
        color: #000;
    }

    h5{
        margin-bottom: 20px;
    }

    a{
        text-decoration: none;
        width: 200px;
        height: 70px;
        padding: 10px;
        border: none;
        background-color: #000;
        color: #fff;
        font-weight: bold;
        box-shadow: 5px 5px 0px 0px rgba(255,255,255,1);
    }

    img {
        width: 350px;
        height: 350px;
        object-fit: cover;
        border: 5px solid #000;
    }
}

@keyframes entrance {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 0.75;
        transform: translateY(0px);
    }
    75% {
        opacity: .9;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}