.subscribe{
    background-color: yellow;
    height: 125px;
    margin: 150px 0;

    .subscribeFirst{
        font-size: 1.2em;
        letter-spacing: .2em;
        width: 50%;
        font-weight: bold;
    }

    .subscribeSecond{
        
        
        a{
            border: none;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.3em;
            font-weight: bold;
            color: #fff;
            background-color: #000;
            border: 5px solid yellow;
            outline: 5px solid #000;
            &:hover{
                background-color: yellow;
                color: #000;
                border: 5px solid #000;
                outline: 5px solid rgb(0, 17, 255);
                transition: all .5s;
            }
        }

    }

}