.contactTitle{
    height: 150px;
    text-align: center;
    padding-top: 50px;
    background-image: url('../../assets/images/iconos/contact.jpeg');
    opacity: .75;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -55px;
    background-attachment: fixed;
    color: #000;
    font-weight: bold;
}