.loginForm {

    margin: 50px;

    div {

        width: 350px;

        label {
            position: relative;
            top: 11px;
            left: 15px;
            padding: 0 10px;
            z-index: 1300;
            background-color: #fff;
            color: #525252;
            font-size: .8em;
        }
    
    }

}