.product {
    width: 300px;
    margin: 10px 2px;
    text-align: center;
    background-color: rgba(201, 201, 201, 0.582);
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    &:hover {
        border: 2px solid #000;
    }

    img {
        width: 100%;
        object-fit: cover;
        padding-bottom: 10px;
    }

    .prodPrice{
        position: absolute;
        bottom: 90px;
        left: 10px;
        color: rgb(71, 71, 71);
    }

    .prodTitle{
        text-align: start;
        font-size: .9em;
        margin-left: 5px;
    }

    .prodCategory{
        text-align: start;
        font-size: .75em;
        margin-left: 5px;
        color: rgb(71, 71, 71);
    }
}